.card {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  margin: 1.5rem auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #213547;
}

.dark .card {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

.light .card {
  background-color: #ffffff;
  color: #213547;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-search {
  margin-bottom: 1rem;
  height: 3rem;
  width: 100%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #213547;
  padding-left: 1rem;
  padding-right: 3rem;
}

.dark .input-search {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.light .input-search {
  background-color: #ffffff;
  color: #213547;
}
